<h4 class="title">商品詳細</h4>
<div class="row no-gutters">
  <div class="col-5">
    <%= attachment_image_tag @item, :image, :fill, 200, 150, format:'jpeg' %>
  </div>


  <div class="col-xs-4">
    <div class="form-group">
      <p>商品名</p>
      <p><%= @item.name %></p>
    </div>
    <div class="form-group">
      <p>商品説明</p>
      <%= @item.introduction %>
    </div>
    <div class="form-group">
      <p>ジャンル</p>
      <%= @item.genre.name %>
    </div>
    <div class="form-group">
      <p>税込価格<br>
        (税抜価格)</p>
        <%= @item.add_tax_item_price.to_s(:dalimited) %>
        (<%= @item.price %>)円
    </div>
    <div class="form-group">
      <p>販売ステータス</p>
      <% if @item.is_active == true %>
        <p class="able">販売中</p>
      <% elsif @item.is_active == false %>
        <p class="enable">売り切れ</p>
      <% end %>
    </div>
    <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-sm btn-success" %>
  </div>
</div>