<h4 class="title">注文履歴詳細</h4>
<div class="row">
  <div class="col-">
    <table>
      <tr>
        <th>購入者</th>
        <td>
        <%= link_to admin_customer_path(@order.customer_id) do %>
          <%= @order.customer.last_name %><%= @order.customer.first_name %>
        <% end %>
        </td>
      </tr>

      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>

      <tr>
        <th>配送先</th>
        <td>
          〒<%= @order.postal_code %>
          <%= @order.address %><br>
          <%= @order.name %>
        </td>
      </tr>

      <tr>
        <th>支払方法</th>
        <td><%= @order.payment_method %></td>
      </tr>

      <tr>
        <th>注文ステータス</th>
        <td>
        <%= form_with model: @order, url: admin_order_path, local:true do |f| %>
          <%= f.select :status, Order.statuses.keys.map { |k| [k,k]}, {} %>
          <%= f.submit "更新", class: "btn btn-success" %>
        <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <td>商品名</td>
          <td>単価(税込)</td>
          <td>数量</td>
          <td>小計</td>
          <td>製作ステータス</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% sum=0 %>
          <% @order.order_items.each do |item| %>
          <tr>
            <td><%= item.item.name %></td>
            <td><%= item.item.price %></td>
            <td><%= item.quantity %></td>
            <td><%= item.item.price*item.quantity  %></td>
              <%= form_with model: @order_item, url: admin_order_detail_path, local:true do |f| %>
            <td><%= f.select :order_item, OrderItem.making_statuses.keys.map { |k| [k,k]}, {} %></td>
            <td><%= f.submit "更新", class: "btn btn-success" %></td>
              <% end %>
            <% sum = sum +item.item.price*item.quantity %>
          </tr>
          <% end %>
      </tbody>
    </table>


  <div class="col-3">
    <table>
      <tr>
        <td>商品合計</td>
        <td><%= sum %>円</td>
      </tr>
      <tr>
        <td>送料</td>
        <td><%= @order.shipping %>円</td>
      </tr>
        <% @order.biling_amount = sum+@order.shipping %>
      <tr>
        <td><strong>請求金額合計</strong></td>
        <td><strong><%= @order.biling_amount %>円</strong></td>
      </tr>
    </table>
  </div>