<h2 class="title">注文履歴詳細</h2>

<table class="table table-bordered" %>
  <tr>
    <th>購入者</th>
    <td>
    <%= link_to admin_customer_path(@order.id) do %>
      <%= @order.customer.name %>
    <% end %>
    </td>
  </tr>

  <tr>
    <th>注文日</th>
    <td><%= @order.create_at %></td>
  </tr>

  <tr>
    <th>配送先</th>
    <td>
      <%= @order.postal_code %>
      <%= @order.address %><br>
      <%= @order.name %>
    </td>
  </tr>

  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_method %></td>
  </tr>

  <tr>
    <th>注文ステータス</th>
    <td>
    <%= f.select :order_status %>
    </td>
  </tr>
</table>

<table>
  <thead>
    <tr>商品名</tr>
    <tr>単価(税込)</tr>
    <tr>数量</tr>
    <tr>小計</tr>
    <tr>製作ステータス</tr>
    <tr></tr>
  </thead>
  <tbody>
  <%= order_items.each do |order_item| %>
    <td><%= item.name %></td>
    <td><%= item.price %></td>
    <td><%= order_item.quantity %></td>
    <td><%= item.add_tax_item_price*order_item.quantity  %></td>
      <%= form_with model: @order_item , local:true do |f| %>
    <td><%= f.select :order_item.making_status %></td>
    <td><%= f.submit "更新", class: "btn btn-success" %></td>
  </tbody>
</table>

<div>
  <p>商品合計</p>
  <%= @total_price %>
  <p>送料</p>
  <%= @order.shipping %>
  <p><strong>請求金額合計</strong></p>
  <strong><%= @order.billing_amount %>円</strong>
</div>