<div class="title">
  <h4>注文履歴詳細</h4>
</div>

<div class="row">
  <div class="col-7">
    <p><strong>注文情報</strong></p>
    <table border="1">
      <tr>
        <td>注文日</td>
        <td><%= @order.create_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <td>配送先</td>
        <td>
          <%= @order.postal_code %><br>
          <%= @order.address %><br>
          <%= @order.name %>
        </td>
      </tr>
      <tr>
        <td>支払方法</td>
        <td><%= @order.payment_method %></td>
      </tr>
      <tr>
        <td>ステータス</td>
        <td><%= @order.status %></td>
      </tr>
    </table>
  </div>
  <div class="col-3">
    <p><strong>請求情報</strong></p>
    <tabl border="1">
      <tr>
        <td>商品合計</td>
        <td><%= %></td>
      </tr>
      <tr>
        <td>配送料</td>
        <td><%= @order.shipping %></td>
      </tr>
      <tr>
        <td><strong>ご請求額</strong></td>
        <td><%= @order.biling_amount %></td>
      </tr>
    </table>
  </div>
</div>
<div>
  <p><strong>注文内容</strong></p>
  <table border="1">
    <thead>
      <tr>
        <td>商品</td>
        <td>単価(税込)</td>
        <td>個数</td>
        <td>小計</td>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |order_item| %>
      <tr>
        <td><%= @order_items.item.name %></td>
        <td><%= @order_items.price %></td>
        <td><%= @order_items.quantity %></td>
        <td><%= @order_items.price*@order_items.quantity %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>